{% extends 'layout.twig' %}

{% block body %}
  <form class="form-horizontal" method="post" id="report-form" action="/generate" >
      <fieldset>
          <legend class="sr-only">HRP login</legend>
          <div class="form-group">
              <label for="username" class="col-sm-3 control-label">HRP Username</label>
              <div class="col-sm-3">
                  <input type="text" class="form-control" id="username" name="username" value="firstName.lastName" required="">
              </div>
          </div>
          <div class="form-group">
              <label for="password" class="col-sm-3 control-label">HRP Password</label>
              <div class="col-sm-3">
                  <input type="password" class="form-control" id="password" name="password" value="password" required="">
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="company">Company</label>
              <div class="col-sm-3">
                <select class="form-control" name="company" id="company">
                    <option value="623c0b14-2828-4351-ab00-f86f4e8cc0f2">EIT</option>
                    <option value="f4f0108a-c742-46eb-81be-262cd538e660">Dante</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="year">Year</label>
              <div class="col-sm-3">
                <select class="form-control" name="year" id="year">
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-3 control-label" for="month">Month</label>
              <div class="col-sm-3">
                <select class="form-control" name="month" id="month">
                    <option value="8">Aug</option>
                    <option value="9">Sept</option>
                    <option value="10">Oct</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-success"><i class="fa fa-check"></i><span>Generate</span></button>
              </div>
          </div>
      </fieldset>
  </form>

{% endblock %}
